@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&family=Roboto:wght@500&family=Rowdies:wght@700&family=Source+Serif+4:ital@0;1&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
    margin: 0px;
    padding: 0px;
}

/* football */
/* menu star */

/* menu end */
.logo{
    display: flex; 
    background-color: #2D25A0;
} 
.logo{
    background-color: #2D25A0;
     width: 100%;
    height: 677px; 
    padding-top: 42px;
}
/* navbar  start*/
.navbar {
    width: 1160px;
    margin: auto;
    height: 44px;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    margin-top: -34px;
}   
.menu ul li {
    color: #FFFFFF;
    margin-right: 30px;
    list-style: none;
    float: left;
}
.menu ul li:hover{
    background-color: olive;
    border-radius: 5px;
    transition: 2s all ease;
}
.option{
    background-color: #E02A6C;
    width: 129px;
    height: 34px;
    margin-left: 597px;
    margin-top: 20px;
    border-radius: 11px;
}
 .option:hover{
    background-color: orange;
    transform: rotate(180deg) scale(1.10);
    text-transform: uppercase;
    transition: 3s;
 }
/* navbar  end*/
.logo:hover{
     transition-duration: 4s; 
    background-color: #6159d6;
}

.logo-png{
    color: #ffffff;
    font-size: 32px;
    margin-left: -885px;
    padding-top: 50px;
}
.logo-png:hover{
    color: olive;
}
.banner{
    background-color: #E02A6C;
    text-decoration: none;
    color: #ffffff;
    padding: 13px 28px;
    border-radius: 10px;
}
.banner:hover{
        background-color: green;
        transform: rotateY(360deg) scale(1.10);
        text-transform: uppercase;
        border: 2px solid red;
        transition: 3s;
}

.title-ball img{
    width: 556px;
    height: 438px;
    margin-right: 45px;
    margin-left: 245px;
    margin-top: 70px;
}
.title-ball img:hover{
    transform: rotate(30deg);
    transition: 2s all ease;
}


/* top players style */

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}
.player,.author{
    margin-left: 10px;
}
.player,.title{
    margin-left: 10px;
}

.player{
    width: 330px;
    height: 474px;
    
}
.player:hover{
    background-color: yellow;
    transition: 2s;
    transform: scale(1.10);
}
.player:hover img{
    background-color: yellow;
    transition: 2s;
    transform: scale(1.10);
}
.player{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    margin: 30px;
}
.player img{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    width: 300px;
    height: 256px;
}
/* america */
.blog{
    display: flex;
    align-items: center;
}
.blog-info{
    margin-right: 69px;
    margin-left: 69px;
}
.blog-title{
    width: 250px;
    height: 309px;
    margin-left: 100px;
    font-size: xx-large;
}
.blog-author{
    margin-top: -158px;
    width: 400px;
    height: 309px;
}
.watch-now{
    background-color: #E02C6D;
    text-decoration: none;
    margin-left: 90px;
    padding: 10px 30px;
    border-radius: 10px;
}
.watch-now:hover{
    background-color: green;
    transform: rotateY(360deg) scale(1.10);
    text-transform: uppercase;
    border: 2px solid red;
    transition: 3s;
}
.blog .thumbnail img{
    width: 567px;
    height: 427px;
    margin-right: 40px;
}
.blog .thumbnail img:hover{
    background-color: yellow;
    transition: 2s;
    transform: scale(1.10);
}

/* ----------
courses style start---------*/

 .courses{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 30px;
} 
.section-title{
    text-align: center;
}
.course-detail{
    text-align: center;
}
.course{
    width: 365px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    margin-right: 12px;
}
.course-logo{
    width: 365px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    margin-left: auto;
}
.course-logo:hover{
    background-color: #E02A6C;
    transition: 2s;
    transform: scale(1.10)
}
.course-logo .course-banner img{
    width: 331px;
    height: 230px;
    margin-left: 17px;
    margin-top: 10px;
}  
.course-logo .course-banner img:hover{
    transition: 2s;
    transform: scale(1.10);
}

.course .course-banner img{
    width: 331px;
    height: 230px;
    margin-left: 17px;
    margin-top: 10px;
}
.course .course-banner img:hover{
    transition: 2s;
    transform: scale(1.10);
}
.course:hover{
    background-color: #E02A6C;
    transition: 2s;
    transform: scale(1.10);
}

/* ----------
courses style end---------*/


/* ----------
courses style start 2023---------*/

.courses-png{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-column-gap: 30px;
    /* justify-items: end;  */
}
.section-titl{
    text-align: inherit;
    margin-left: 126px;
}
.course-detail{
    text-align: center;
}

.dellopar{
    width: 240px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-bottom: -12px;
    box-shadow: 0px 0px 6px;
}
.course-log{
    width: 240px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    margin-left: 506px;
    border-radius: 5px;
    margin-bottom: -13px;
    box-shadow: 0px 0px 6px;
}
.course-log:hover{
    background-color: #E02A6C;
    transition: 2s;
    transform: scale(1.10)
}
.course-log .course-banne img{
    width: 240px;
    height: 191px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 5px;
}  
.course-log .course-banne .hover{
    transition: 2s;
    transform: scale(1.10);
}

.dellopar .course-banne img{
    width: 240px;
    height: 191px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 5px;
}
.dellopar .course-banne .hover{
    transition: 2s;
    transform: scale(1.10);
}
.dellopar:hover{
    background-color: #E02A6C;
    transition: 2s;
    transform: scale(1.10);
}
.course-author{
    font-size: 16px;
    color: #6C6C6C;
}
.date{
    font-size: 15px;
    font-weight: 100;
    color: burlywood;
    margin-right: 145px;
}
/* ----------
courses style end 2023---------*/

/* All Hilight start */
.blog-in{
    margin-right: -486px;
    margin-left: 69px;
}
.blog-tel{
    width: 250px;
    height: 309px;
    margin-left: 100px;
    font-size: xx-large;
}
.thor{
    margin-top: -205px;
    width: 400px;
    height: 309px;
}
.watch{
    background-color: #E02C6D;
    text-decoration: none;
    margin-left: 90px;
    margin-bottom: -24px;
    padding: 10px 30px;
    border-radius: 10px;
}
.watch:hover{
    background-color: green;
    transform: rotateY(360deg) scale(1.10);
    text-transform: uppercase;
    border: 2px solid red;
    transition: 3s;
}
/* All Hilight end */




/* football */
.football{
    display: grid;
    align-items: baseline;
    justify-items: center;
}

.bloger img{ 
    width: 483.87px;
    height: 110px;
}
.icone{
    display: flex;
    justify-items: center;
}
 .icone i{
    padding: 10px;
    border-radius: 50%;
    background-color: #D1D1D1;
    margin-bottom: 20px;
    margin-left: 5px; 
}
/* footer */
footer{
    text-align: center;
}
.top{
    text-align: center;
}

/* hr start*/
hr {
    border: 1px solid #D1D1D1;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
}
/* hr end */
/* All FIFA Start */
.courses-fifa{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 30px;
} 
.course-tit{
    margin-left: -548px;
}
.course-detail{
    text-align: center;
}
.course-loto{
    width: 100%px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    margin-right: 12px;
}
.course-go{
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    margin-left: 10px;
}
.course-go .course-banner img{
    width: 100%;
    margin-left: 2px;
    margin-top: -1px;
    border-radius: 5px;
}  
.course-loto .course-banner img{
    width: 100%;
   border-radius: 5px;
    margin-top: 0px;
}
.read{
    color: #2D25A0;
}
/* All FIFA end */

/* -------------- 
 mobile 
---------------  */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1,1fr);
    }
    .player, .blog{
        flex-direction: column;
    }
    
}